.profile_conatiner{
    /* background-color: rgb(187, 187, 136); */
    width: 100%;
    height: 100vh;
    /* text-align: center; */
}
.progile_div{
    background-color:  rgb(187, 187, 136);
    padding: 10px;
    margin: 0px 100px;
    display: flex;
    /* justify-content: space-between; */
}
.profile_left{
    flex: 1;
    /* background-color: red; */
}

.input_flex{
    display: flex;
}
.input_block{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    box-shadow: 0px 0px 5px;
    padding: 10px;
}
.input_label{
    margin-bottom: 5px;
    color: black;
}
.gender_block{
    /* background-color: aqua; */
    padding: 5px;
    display: flex;
    flex-direction:row;
}
.gender_label{
    margin-right: 10px;
}
._gender{
    margin: 0px 10px;
}


.profile_right{
flex: 1;
background-color: blue;
}