/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  */

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth!important;
}
:root {
  --box-shadow: 2px 2px 8px #b1317c;
  --underLine: #b1317c;
  --BtnSuccess: #f6ef45;
  --navbarBgColor:#161d27;
  --whiteColor:#ffff;
}
 html{
  font-size: 100%;
 }
a {
  text-decoration: none !important;
}
/* 



/* ========================== */
/* Products component */
/* ========================== */
/* .products_main_div{
  box-shadow: var(--box-shadow);
}

.pr_details_div h6 i{
  background-color: #e5eaef;
  padding: 3px;
  margin: 5px;
}
.img_div{
  overflow: hidden;
  height: 250px;
}
.img_div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s;
}
.img_div img:hover {
  transform: scale(1.1, 1.1);
}
.fa-cart-plus {
  color: #f8f9fa;
}
.fa-cart-plus:hover {
  cursor: pointer;
} */
/* .loader_outerDiv{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
 .loader_innerDiv{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border-left: 3px solid #671445;
  background-color: transparent;
  animation: loader 2s infinite;
 }
 @keyframes loader {
  from {transform :rotate(-360deg);}
} */


 