/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  */

* {
  margin: 0;
  padding: 0;
}
:root {
  --box-shadow: 2px 2px 8px #b1317c;
  --underLine: #b1317c;
  --BtnSuccess: #f6ef45;
  --navbarBgColor:#161d27;
}
 html{
  font-size: 100%;
  /* font-family: 'Courier New', Courier, monospace;
  font-family:cursive; */
 }
a {
  text-decoration: none !important;
}
/* .navbar {
  background-color: var(--navbarBgColor);
}
.navbar div > ul > li {
  list-style: none;
}
.navbar div > ul > li a {
  text-decoration: none;
  color: #f8f5f6;
  padding: 10px;
}
.navbar div > ul > li a:hover {
  border-bottom: 2px solid var(--underLine);
}
.navbar div > ul > li a:focus {
  border-bottom: 2px solid var(--underLine);
}
.logo_div{
  width: 200px;
}
.logo_div img{
  width:100px;
}
.add_to_cart_div{
position: relative;
}
.qty_span{
  position: absolute;
  top: -10px;
  right: -5px;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 50%;
  background-color:#f9d056;
  color: black;
  padding: 5px;
} */
/* =========================== */
/* post component */
/* =========================== */
/* .form_div {
  padding: 10px;
  height: 200px;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 8px #9696aa;
}
.item_input {
  outline: none;
  background-color: #9696aa;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.addBtn_item {
  height: 33px;
  width: 33px;
  border-radius: 0.3rem;
  background-color: #b1317c;
  color: aliceblue;
  margin-left: 2px;
  border: none;
  transition: all 0.3s;
}
.addBtn_item:hover {
  background-color: #a8eb93;
  box-shadow: 2px 2px 8px #b1317c;
  color: #b1317c;
}
.post_item_div {
  background-color: #671445;
  border-radius: 0.3rem;
  color: aliceblue;
}
.btn_edit:hover {
  cursor: pointer;
  color: #ddf08a;
}
.btn_delete:hover {
  cursor: pointer;
  color: #f12454;
} */
/* ========================== */
/* category buttons */
/* ========================== */
/* .btn_category{
  background-image: linear-gradient(#18ffdf,#61735d);
  border: none;
  box-shadow: 0px 2px 4px black;
  color: #000000;
  letter-spacing: 2px;
  font-weight: bolder;
  border-radius: 10px;
  transition: all 0.3s;
}
.btn_category:hover{
  box-shadow:0px 2px 2px #d3569f;
  transform: translateY(-5px);
}
.btn_category:focus{
  box-shadow:0px 3px 2px #d3569f;
  transform: translateY(-10px);
} */



/* ========================== */
/* Products component */
/* ========================== */
/* .products_main_div{
  box-shadow: var(--box-shadow);
}

.pr_details_div h6 i{
  background-color: #e5eaef;
  padding: 3px;
  margin: 5px;
}
.img_div{
  overflow: hidden;
  height: 250px;
}
.img_div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s;
}
.img_div img:hover {
  transform: scale(1.1, 1.1);
}
.fa-cart-plus {
  color: #f8f9fa;
}
.fa-cart-plus:hover {
  cursor: pointer;
} */
/* .loader_outerDiv{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
 .loader_innerDiv{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border-left: 3px solid #671445;
  background-color: transparent;
  animation: loader 2s infinite;
 }
 @keyframes loader {
  from {transform :rotate(-360deg);}
} */


/* ======================= */
/* About page */
/* ======================= */
/* .form_container{
  background-color: #61735d;
}
.input_block{
  width: 400px;
  padding: 5px;
  margin: 5px;
}
.input_label{
  color: white;
}
.input_block > input{
  width: 80%;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color:#161d27;
  color: white;
} */
/* ========================= */
/* Footer page */
/* ========================= */
/* .footer_container{
  background-color: var(--navbarBgColor);
  padding: 10px;
  text-align: center;
  color: #e5eaef;
} */